<ion-view view-title="LoginUserDetails" hide-nav-bar="true" cache-view="false">
  <ion-content class="padding login">
    <div class="row">
      <div class="col">
        <img src="img/phased-logo.svg" height="220px" width="220px" style="">
      </div>
    </div>

      <form name="userForm" ng-submit="regPerson(user)" novalidate>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <label class="input-label" for="email">email</label>
            <input class="loginInput" type="email" id="email" ng-model="user.email" placeholder="">
          </label>
          <label class="item item-input item-stacked-label">
            <label class="input-label" for="password">password</label>
            <input class="loginInput" type="password" id='password' ng-model="user.password" placeholder="">
          </label>
          <label class="item">
            <input type="submit" class="button button-block button-phased" value="Sign In">
          </label>
        </div>
      </form>
    <div class="row">
      <div class="col">
        <h4 align="center">Don't have an account? <a href="" ng-click="makeAccount()"><strong>Sign up</strong></a></h4>
      </div>
    </div>
  </ion-content>
</ion-view>
