<ion-view view-title="LoginUserDetails" hide-nav-bar="true">
  <ion-content class="padding">
    <div class="row">
      <div class="ph-logo">
      </div>
    </div>
    <div class="row">
      <h1>Create a Phased.io Account</h1>
      <h2>Enter your <strong>email address</strong></h2>
    </div>
    <div class="row">
      <form ng-submit="" novalidate="">
        <input type="email">
        <p><small>Don't worry about the password for now we will send you an email with it soon</small></p>
        <input type="submit">
      </form>
    </div>
    <div class="row">
      <h2>Have an account?</h2>
    </div>
    <div class="row">
      <h2><a href=""><strong>Login here</strong></a></h2>
    </div>
  </ion-content>
</ion-view>
