<ion-view view-title="LoginTeamName" hide-nav-bar="true">
  <ion-content class="padding">
    <div class="row">
      <div class="ph-logo">
      </div>
    </div>
    <div class="row">
      <h1>Phased.io</h1>
      <h2>Enter your team's name</h2>
    </div>
    <div class="row">
      <form ng-submit="" novalidate="">
        <input type="text">
        <input type="submit">
      </form>
    </div>
    <div class="row">
      <h2>Trying to login to a team?</h2>
    </div>
    <div class="row">
      <h2><a href=""><strong>Login here</strong></a></h2>
    </div>
  </ion-content>
</ion-view>
