<ion-view view-title="LoginUserDetails" hide-nav-bar="true">
<ion-header-bar align-title="center" class="bar-light profile">
    <div class="buttons">
      <button class="button button-icon" ng-click="loginArea()" nav-direction="back"><i class="icon-close" style="color:rgba(29,29,38,0.5);font-size: 1.1rem;"></i></button>
    </div>
    <h1 class="title" >Sign up</h1>
  </ion-header-bar>
  <ion-content class="padding login">
      <form ng-submit="regPerson(user)" novalidate>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <label class="input-label" for="email">Full name</label>
            <input class="loginInput" type="text" ng-model="user.name" placeholder="">
          </label>
          <label class="item item-input item-stacked-label">
            <label class="input-label" for="email">email</label>
            <input class="loginInput" type="email" ng-model="user.email" placeholder="">
          </label>
          <label class="item item-input item-stacked-label">
            <label class="input-label" for="email">Password</label>
            <input  class="loginInput" type="password" ng-model="user.password" placeholder="">
          </label>
          <label class="item">
            <input type="submit" class="button button-block button-phased" value="Create">
          </label>
        </div>
        
      </form>

    <div class="row">
      <div class="col">
        <h4 align="center">Have an account? <a href="" ng-click="loginArea()"><strong>Login here</strong></a></h4>
      </div>
    </div>
  </ion-content>
</ion-view>
