<ion-view view-title="update status" hide-nav-bar="true">

  <ion-content class="viewStat" style="background-color:{{bgColor}}">
    <div class="row">
      <div class="col">
        <button class="button bar-none" ng-click="goBack()" nav-direction="back" style="color:#fff;"><i class="icon-back"></i></button>
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="dp-user" style="background:url('{{statusInfo.gravatar}}') "></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 align="center">{{statusInfo.name}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3 align="center">{{statusInfo.task}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3 align="center">{{statusInfo.weather}}</h3>
        <h3 align="center">{{statusInfo.city}}</h3>
      </div>
    </div>
  </ion-content>
</ion-view>
