<ion-side-menus>
  <!-- Center content -->
  <!-- <ion-side-menu-content ng-controller="ContentController">
  </ion-side-menu-content> -->

  <!-- Left menu -->
  <ion-side-menu side="left">
    <header class="bar bar-header bar-phased">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header bg-darkGrey">
      <ion-list>
        <ion-item nav-clear menu-close href="" ng-repeat="team in teamsAvail" ng-click="switchTeam(team);" >
          {{team}}{{team == $parent.teamName ? '*': ''}}
        </ion-item>
        <ion-item nav-clear menu-close href="" >
          Create new team
        </ion-item>
        <ion-item nav-clear menu-close href="" ng-click="signOut();">
          Log out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <!-- Right menu -->

  <ion-side-menu-content>
  <!-- Main content, usually <ion-nav-view> -->
    <ion-header-bar align-title="center" class="bar-phased">

      <button class="button icon ion-navicon button-clear " menu-toggle></button>
      <h1 class="title">{{teamName}}</h1>
      <button class="button icon ion-person button-clear " ng-click="viewProfile()"></button>

    </ion-header-bar>
    <ion-content class="team">
      <div class="list">
        <a nav-direction="forward" on-tap="onTap(seeStatus({{member}}))" id="{{member.uid}}" on-swipe-left="nudge(member.uid)" ng-repeat="member in team | orderBy : 'time':true" style="{{member.photo}}" class="item item-thumbnail-left team-member" ng-class="{photoAdded:member.photo}">
          <img src="{{member.gravatar}}">
          <h1>{{member.task}}</h1>
          <p am-time-ago="member.time"></p>
          <div id="{{member.uid}}-nudge" class="nudge nudgeHidden">
            <h2>Nudge sent to {{member.name}}</h2>
          </div>
        </a>
        <a class="item more-margin" href="" ng-click="addMember()">

          <h2>Add Member</h2>

        </a>
      </div>


    </ion-content>
    <div class="actionHolder">
      <button class="button button-compose" ng-click="compose()" nav-direction="forward" ><i class="ion-compose"></i></button>
    </div>
    <!-- <ion-footer-bar align-title="left" class="bar-none team">
      <div class="buttons">

      </div>
    </ion-footer-bar> -->
  </ion-side-menu-content>
</ion-side-menus>
<!-- <ion-view view-title="update status" hide-nav-bar="true">


</ion-view> -->
