<ion-view view-title="" hide-nav-bar="true">
  <ion-content class="team">
    <div class="list">
      <a nav-direction="forward" on-tap="onTap(seeStatus({{member}}))" id="{{member.uid}}" on-swipe-left="nudge(member.uid)" ng-repeat="member in team | orderBy : 'time':true"  class="item team-member">
        <div class="row">
          <div class="col-20">
            <img src="{{member.gravatar}}?s=50">
          </div>
          <div class="col-50 statusArea">
            <h2>{{member.name}}</h2>
            <p>{{member.task}}</p>
          </div>

          <div class="col statusArea timeArea">
            <p class="wrap" align="center" am-time-ago="member.time"></p>
            <div class="iconholder">
              <span class="ph-icon icon-camera" align="center" ng-show="member.photo"></span>
            </div>
          </div>

        </div>



        <div id="{{member.uid}}-nudge" class="nudge nudgeHidden">
          <h2>Nudge sent to {{member.name}}</h2>
        </div>
      </a>
      <a class="item more-margin" href="" ng-click="addMember();">

        <h2 align="center">Add member</h2>

      </a>
    </div>

  </ion-content>
  <div class="actionHolder">
    <div class="row">
      <div class="col">
        <p>Team {{teamName}}</p>
      </div>
      <div class="col">
        <button class="button button-compose" ng-click="compose()" nav-direction="forward" ><i class="ion-ios-people-outline"></i></button>
        <button class="button button-compose" ng-click="compose()" nav-direction="forward" ><i class="ion-compose"></i></button>
      </div>
    </div>

  </div>
</ion-view>
