.status{
  background: $background;
  color: #fff;
}
.compose{
  .item{
    border-color: transparent!important;
    background-color: transparent!important;
  }
  h3,h1{
    color:#fff;
    margin-top: 0;
    margin-bottom: 0;
  }
  h3{
    margin-bottom:1.5rem;
  }

  #photoHolder{
    margin-top: 1.5rem;
    padding:1rem;
    border: none;
    outline: none;
    height:auto;
    font-size: 1.5rem;
    font-family: $boldFont;
    color:#fff;
    line-height: 1;
    background-color: transparent;
    border-bottom: 1px solid #fff;
  }
  .activityBtn{
    color:#fff;
    height: 5rem;
    width: 5rem;
    display: block;
    margin:0 auto;
    font-size: 0.75rem;
    border-radius:1000px;
    border: none;
    background:rgba(50,50,50,0.5);
    
    &.active{
      background:rgba(50,50,50,1);
      color:#fff!important;
    }
  }
  .extra-btn{
    margin-top: 1.5rem;
    p{
      margin-top: 5px;
    }
  }
  .button-extra{
    color:#fff;
    height: 3.5rem;
    width: 3.5rem;
    display: block;
    margin:0 auto;
    color:#fff;
    border-radius:1000px;
    border: none;
    background:rgba(50,50,50,0.5);
  }

  .ph-icon{
    font-size: 25px;
  }
  .icon-map{
    margin-left: 0.1rem;
  }

}
.bar-footer{
    height: auto!important;
    background-color: transparent!important;
  }
// .bar-footer.compose{
//   background: transparent;
//   border-top: none;
//   button{
//     background: transparent;
//     border: transparent;
//   }
// }
