.team{
  background-color: #dee4e5;
  //Clock Colors
  .greenClock{
    color:$green;
  }
  .yellowClock{
    color:#F6F792;
  }
  .redClock{
    color:#EA2E49;
  }
  .more-margin{
    background-color: #e7ebec;
    h2{
      //margin-top:0.5rem;
      color: #52565e;
      font-family: $regFont;
    }
    margin-bottom: 6rem;
  }

  .team-member{
    &:nth-child(even){
      background-color: #e7ebec;
    }
    &:nth-child(odd){
      background-color: #dee4e5;
    }
    padding: 1rem 0!important;
    border-width: 0 !important;

    h1{
      font-family: $boldFont;
      font-size: 1.250rem;
    }
    h2{
      margin-top:0.5rem;
      color: #52565e;
      font-family: $regFont;
    }
    p{
      color:#000;
      font-family: $regFont;
      opacity: 0.3;
    }

    .timeArea{

      p{
        font-size: 0.55rem;
        font-weight: bold;
      }
      span{
        margin-top:0.5rem;
        width: 100%;
        display: block;
        font-size: 1rem;
        text-align: center;

      }
    }
    .statusArea{
      padding-left: 0.5rem;
    }
    img{
      // position: absolute;
      // top: 0!important;
      // left: 0!important;
      max-width: 50px!important;
      max-height: 50px!important;
      margin: 0 auto;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 100px;
    }
  }

  .nudge{
    opacity: 1;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:$green;
    color:#fff;
    transition: all 0.2s;
    h2{
      text-align: center;
      color:#fff;
      margin-top: 2rem;
    }
  }
  .nudgeHidden{
    display: none;
    opacity: 0;
  }
}
.actionHolder{
  position: fixed;
  width: 100%;
  margin-bottom: 1rem;
  bottom: 0;

}
.button-compose{
  width: 3.5rem;
  height: 3.5rem;
  display: block;
  margin: 0 auto;
  background-color: $background;
  color: #fff;
  text-align: center;
  border-radius: 1000px;
  border-color: transparent;
  font-size: 1.6rem;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}
