<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()"><i class="button-icon icon ion-ios-close-empty"></i>Close &nbsp;</button>
    </div>
    <h1 class="title"> Edit Task</h1>
    <div class="buttons">
      <!--<button type="submit" ng-click="saveEdit(editedTask)" class="button button-clear">Save </button>-->
    </div>
  </ion-header-bar>

  <ion-content >
    <!--<form name="task" ng-submit="saveEdit(task)">-->
      <textarea class="upperCase" type="text" ng-model="task.name" placeholder="{{task.name}}" style="width: 90%"></textarea>

      <img ng-if=task.image ng-src="{{task.image}}" style="height:200px; width: 100%">

      <div class="row" style="background-color: grey; width: 100%; height: 200px; color: white;" ng-if= !task.image>
        <!--<div class="col col-center col-offset-33">-->
        <button class="button button-icon col col-center" ng-click="openCamera()">
          <i class="ion-ios-camera-outline" style="color: white; font-size: 90px"></i>
          <p>Add an Image</p>

        </button>
        <!--</div>-->
      </div>

      <div class="row">

        <div class="card taskDetail">

          <div class="row">
            <div class="row">
              <p class="font14">Description:</p>
            </div>
          </div>

          <div class="row">
            <div class="row">
              <textarea type="text" class="col col-100" style="border: 1px grey solid" ng-model="task.description" rows="5" cols="30" placeholder="{{task.description}}"></textarea>
            </div>
          </div>

          <!--if there is a due date then show it else show nothing-->
          <!--<div class="row">-->
            <label class="item item-input">
                &nbsp;<i class="ion-android-calendar"></i>&nbsp;&nbsp;
                <input type="date" id="taskInput" name="input" ng-model="task.value" required />
            </label>
          <!--</div>-->



          <!--if there is a started say in progress else say not started-->
          <!--<div class="row" ng-show="task.due != 'Invalid Date'">-->
            <!--<i class="ion-android-calendar" style="width:100%" >&nbsp;&nbsp;<input ng-model="task.due" placeholder="{{task.due}}" style="width:100%" /></i>-->
          <!--</div>-->
          <!--<br/>-->

          <label class="item item-input item-select">
            <div class="input-label">
              Status:
            </div>
            <select ng-options="option.name for option in task.status.availableOptions track by option.id" ng-model="task.status.selectedOption" >
              <option value="" selected></option>
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Assigned to:
            </div>
            <select  ng-model="task.assigned_to" ng-options="option.name for option in task.members track by option.uid"  >
              <!-- <option value="" ></option> -->
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Priority:
            </div>
            <select ng-options="option.name for option in task.priority.availableOptions track by option.id" ng-model="task.priority.selectedOption" >
              <option value="" selected></option>
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Category:
            </div>
            <select ng-options="option.name for option in task.priority.availableOptions track by option.id" ng-model="task.priority.selectedOption" >
              <option value="" selected></option>
            </select>
          </label>


          <!--<div class="row">-->
            <!--<div class="col">-->
              <!--<p class="font14">Category: </p>-->
              <!--&lt;!&ndash;<p class="font14">Card: </p>&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->

        </div>
      </div>
      <div class="row">
        <div class="row" style="width: 90%; margin-left: 5%">
          <button type="submit" ng-click="saveEdit(task)" class="button button-outline button-block button-balanced">Save </button>
        </div>
      </div>


    <!--</form>-->
  </ion-content>

</ion-modal-view>
