<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()"><i class="button-icon icon ion-ios-close-empty"></i>Close &nbsp;</button>
    </div>
    <h1 class="title"> Edit Task</h1>
    <div class="buttons">
      <!--<button type="submit" ng-click="saveEdit(editedTask)" class="button button-clear">Save </button>-->
    </div>
  </ion-header-bar>

  <ion-content >
    
    
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Title</span>
        <input type="text" placeholder="John"  ng-model="edit.name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Description</span>
        <textarea type="text" placeholder="Description here" ng-model="edit.description"></textarea>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Due Date</span>
        <input type="date"  ng-model="edit.due">
      </label>
      <!--<label class="item item-input item-select">
        <span class="input-label">Current Status</span>
        <select ng-model="edit.status" >
          <option value="2"  selected>Assigned</option>
          <option value="1"  selected>In Progress</option>
        </select>
      </label>-->
      <!--<label class="item item-input item-select">
        <span class="input-label">Assigned to</span>
        <select ng-model="edit.assigned_to" ng-options="option.name for option in team track by option.uid">
            <option value="{{taskMembersSelected}}" label="Carol Louie" selected></option>
          </select>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">Priority</span>
        <select ng-model="task.priority" >
          <option value="2"  selected>Low</option>
          <option value="1"  selected>Medium</option>
          <option value="0"  selected>High</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">Category</span>
        <select ng-options="option.name for option in task.categories track by option.key" ng-model="edit.category" >
            <option value="" selected></option>
          </select>
      </label>-->
    </div>
    <button class="button button-full button-positive" ng-click="save(edit)">
      Save Edits
    </button>
    
    <!--<textarea class="upperCase" type="text" ng-model="task.name" placeholder="{{task.name}}" style="width: 90%"></textarea>

    <div class="row">
      <div class="card taskDetail">
        <div class="row">
          <div class="row">
            <p class="font14">Description:</p>
          </div>
        </div>

        <div class="row">
          <div class="row">
            <textarea type="text" class="col col-100" style="border: 1px grey solid" ng-model="task.description" rows="5" cols="30">{{task.description}}</textarea>
          </div>
        </div>

       
        <label class="item item-input">
          <span class="input-label"><i class="ion-android-calendar"></i></span>
          <input type="date" value="task.date" ng-model="task.date">

        </label>

        
        <label class="item item-input item-select">
          <div class="input-label">
            Status:
          </div>
          <select ng-options="option.name for option in task.status.availableOptions track by option.id" ng-model="task.status.selectedOption" >
            <option value="{{task.status.selectedOption.name}}" selected></option>
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Assigned to:
          </div>
          <select ng-model="taskMembersSelected" ng-options="option.name for option in team track by option.uid">
            <option value="{{taskMembersSelected}}" label="Carol Louie" selected></option>
          </select>

        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Priority:
          </div>
          <select ng-options="option.name for option in task.priority.availableOptions track by option.id" ng-model="task.priority.selectedOption" >
            <option value="{{task.priority.selectedOption.name}}" selected></option>
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Category:
          </div>
          <select ng-options="option.name for option in task.categories track by option.key" ng-model="task.categories.selectedOption" >
            <option value="" selected></option>
          </select>
        </label>

      </div>
    </div>
    <div class="row">
      <div class="row" style="width: 90%; margin-left: 5%">
        <button type="submit" ng-click="saveEdit(task)" class="button button-outline button-block button-balanced">Save </button>
      </div>
    </div>-->
  </ion-content>

</ion-modal-view>
