<ion-view view-title="Tasks" hide-back-button="true">
        <ion-content class="padding-top">
          <h3 align="center">Tasks assigned to you</h3>
          <ul class="list">
            <li class="item item-button-right" ng-repeat="assignment in activeStream | filterTaskByStatus : activeStatusFilter | filterTaskByCategory : activeCategoryFilter | orderObjectBy : 'time' | limitTo :5">
              {{assignment.name}}
              <button class="button button-positive" ng-click="taskView(assignment.key)">
                <i  class="icon ion-arrow-right-a"></i>
              </button>
            </li>
          </ul>

        </ion-content>
        <ion-tabs class="tabs-icon-top">
        <ion-tab title="Feed" ng-click="tab('home')" icon="ion-ios-chatbubble-outline">

        </ion-tab>
        <ion-tab title="Tasks" ng-click="tab('tasks')" icon="ion-ios-list-outline">Hello tab 2!</ion-tab>
        <ion-tab title="Profile" ng-click="tab('profile')" icon="ion-ios-person-outline">Hello tab 2!</ion-tab>
      </ion-tabs>
</ion-view>

<script id="my-task.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">New task</h1>
    </ion-header-bar>
    <ion-content>
    <h1>{{task.name}}</h1>
    <ul class="list">
      <li class="item">
        Assigned by : {{team.members[task.assigned_by].name}}
      </li>
      <li class="item">
        Assigned to : {{team.members[task.assignee].name}}
      </li>
      <li class="item">
        Due date : {{task.deadline | date : 'MMM dd'}}
      </li>
      <li class="item">
        Status : {{taskStatuses[task.status].name}}
      </li>
  </ul>
  <div class="card">
    <div class="item item-divider">
      Discription
    </div>
    <div class="item item-text-wrap">
      {{task.desc}}
    </div>
  </div>

  <div class="task-archive" ng-if="task.user == myID || task.assignee == myID || task.assigned_to == myID">
    <button type="button" class="button button-block button-balanced" name="button" ng-if="task.status != taskStatusID.ASSIGNED" ng-click="broadcastTask(task)">  post as status  <i class="icon ion-android-share"></i></button>
    <button class="button button-block button-balanced" ng-if="task.status == taskStatusID.ASSIGNED" ng-click="startTask(task)">Start <i class="icon ion-ios-play"></i></button>
    <button class="button button-block button-balanced" ng-if="task.status != taskStatusID.COMPLETE" ng-click="setTaskCompleted(task.key)">complete <i class="icon ion-ios-checkmark-outline"></i></button>
    <button class="button button-block button-balanced" ng-if="activeStreamName != 'archive.all' && activeStreamName != 'archive.to_me'" ng-click="moveToArchive(task.key);">archive <i class="icon ion-ios-trash"></i></button>
    <button class="button button-block button-balanced" ng-if="activeStreamName == 'archive.all' || activeStreamName == 'archive.to_me'" ng-click="moveFromArchive(task.key);">unarchive</button>
  </div>
  <button class="button button-block button-balanced" ng-click="closeModal()">Back</button>


    </ion-content>

  </ion-modal-view>
  </script>
