<ion-view view-title="Tasks" hide-back-button="true">

  <ion-content class="padding-top">

    <div class="button-bar" ng-show="true">
      <a class="button" ng-class="{ 'active': activeButton === 'showTaskListView' }" ng-click="showTaskList();activeButton = 'showTaskListView'"><i class="ion-checkmark taskList"></i></a>
      <a class="button" ng-class="{ 'active': activeButton === 'showChatView' }" ng-click="showChat();activeButton = 'showChatView'"><i class="ion-chatbubbles"></i></a> <!-- button-energized" ng-click="showSimilar()" -->
      <a class="button" ng-class="{ 'active': activeButton === 'showProjectView' }" ng-click="showProject();activeButton = 'showProjectView'"><i class="ion-ios-folder"></i></a>
    </div>

    <div class="button button-clear button-block" ng-click="taskAdd()">+ Add a New Task</div>

    <div class="showTaskListView_content" ng-show="showTaskListView">
      <div id="taskList" class="col col-90 offset-10">
        <div class="item item-tasks" ng-repeat="update in team.history | orderBy : 'time':true | limitTo :5">
          <div class="row" style="margin-top: 1%">
            <div class="col col-10">
              <ion-checkbox ng-click="taskCompleted('id')"></ion-checkbox>
            </div>

            <a class="col col-80 col-offset-10 font14" style="margin-top: 4%" href="#/menu/tab/tasks/{{update.key}}">
              <p>{{update.name}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="showChatView_content" ng-show="showChatView">
      <div id="chat">
        <p>this will be pictures that are similar</p>
      </div>
    </div>

    <div class="showProjectView_content" ng-show="showProjectView">
      <div id="project">
        <p>here we'll show seller profile</p>
      </div>
    </div>

    <!--<ul class="list">-->
      <!--<li class="item item-button-right" ng-repeat="assignment in activeStream | filterTaskByStatus : activeStatusFilter | filterTaskByCategory : activeCategoryFilter | orderObjectBy : 'time' | limitTo :5">-->
        <!--{{assignment.name}}-->
        <!--<button class="button button-positive" ng-click="taskView(assignment.key)">-->
          <!--<i  class="icon ion-arrow-right-a"></i>-->
        <!--</button>-->
      <!--</li>-->
    <!--</ul>-->

  </ion-content>

</ion-view>

<script id="my-task.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">New task</h1>
    </ion-header-bar>

    <ion-content>
      <h1>{{task.name}}</h1>
      <ul class="list">
        <li class="item">
          Assigned by : {{team.members[task.assigned_by].name}}
        </li>
        <li class="item">
          Assigned to : {{team.members[task.assignee].name}}
        </li>
        <li class="item">
          Due date : {{task.deadline | date : 'MMM dd'}}
        </li>
        <li class="item">
          Status : {{taskStatuses[task.status].name}}
        </li>
      </ul>

      <div class="card">
        <div class="item item-divider">
          Discription
        </div>
        <div class="item item-text-wrap">
          {{task.desc}}
        </div>
      </div>

      <div class="task-archive" ng-if="task.user == myID || task.assignee == myID || task.assigned_to == myID">
        <button type="button" class="button button-block button-balanced" name="button" ng-if="task.status != taskStatusID.ASSIGNED" ng-click="broadcastTask(task)">  post as status  <i class="icon ion-android-share"></i></button>
        <button class="button button-block button-balanced" ng-if="task.status == taskStatusID.ASSIGNED" ng-click="startTask(task)">Start <i class="icon ion-ios-play"></i></button>
        <button class="button button-block button-balanced" ng-if="task.status != taskStatusID.COMPLETE" ng-click="setTaskCompleted(task.key)">complete <i class="icon ion-ios-checkmark-outline"></i></button>
        <button class="button button-block button-balanced" ng-if="activeStreamName != 'archive.all' && activeStreamName != 'archive.to_me'" ng-click="moveToArchive(task.key);">archive <i class="icon ion-ios-trash"></i></button>
        <button class="button button-block button-balanced" ng-if="activeStreamName == 'archive.all' || activeStreamName == 'archive.to_me'" ng-click="moveFromArchive(task.key);">unarchive</button>
      </div>

     <button class="button button-block button-balanced" ng-click="closeModal()">Back</button>

    </ion-content>

  </ion-modal-view>
</script>
