<ion-view view-title="Tasks" >
        <ion-content class="padding-top">

          <h1>{{task.name}}</h1>
          <ul class="list">
            <li class="item">
              Assigned by : {{team.members[task.assigned_by].name}}
            </li>
            <li class="item">
              Assigned to : {{team.members[task.assignee].name}}
            </li>
            <li class="item">
              Due date : {{task.deadline | date : 'MMM dd'}}
            </li>
            <li class="item">
              Status : {{taskStatuses[task.status].name}}
            </li>
        </ul>
        <div class="card">
          <div class="item item-divider">
            Discription
          </div>
          <div class="item item-text-wrap">
            {{task.desc}}
          </div>
        </div>

        <div class="task-archive" ng-if="task.user == myID || task.assignee == myID || task.assigned_to == myID">
          <button type="button" class="button button-block button-positive" name="button" ng-if="task.status != taskStatusID.ASSIGNED">  post as status  <i class="icon ion-android-share"></i></button>
          <button class="button button-block button-positive" ng-if="task.status == taskStatusID.ASSIGNED" ng-click="startTask(task)">Start <i class="icon ion-ios-play"></i></button>
          <button class="button button-block button-positive" ng-if="task.status != taskStatusID.COMPLETE" ng-click="setTaskCompleted(task.key)">complete <i class="icon ion-ios-checkmark-outline"></i></button>
          <button class="button button-block button-positive" ng-if="activeStreamName != 'archive.all' && activeStreamName != 'archive.to_me'" ng-click="moveToArchive(task.key);">archive <i class="icon ion-ios-trash"></i></button>
          <button class="button button-block button-positive" ng-if="activeStreamName == 'archive.all' || activeStreamName == 'archive.to_me'" ng-click="moveFromArchive(task.key);">unarchive</button>
        </div>

        </ion-content>
        <ion-tabs class="tabs-icon-top">
        <ion-tab title="Feed" ng-click="tab('home')" icon="ion-ios-chatbubble-outline">

        </ion-tab>
        <ion-tab title="Tasks" ng-click="tab('tasks')" icon="ion-ios-list-outline">Hello tab 2!</ion-tab>
        <ion-tab title="Profile" ng-click="tab('profile')" icon="ion-ios-person-outline">Hello tab 2!</ion-tab>
      </ion-tabs>
</ion-view>
