<ion-view hide-back-button="true" >

  <ion-nav-buttons class="button-clear" side="right">
    <button class="button-clear" ng-click="$ionicGoBack()">Close <i class="button-icon ion-ios-close-empty"></i></button>
  </ion-nav-buttons>

  <ion-content class="padding-top">
    <img src="../../img/cyberegg.jpg" style="width:102%; background-size: cover">

    <div class="row">

      <div class="card taskDetail">
        <h1>{{task.name}}</h1>

        <div class="row">
          <div class="col col-60">Not Started</div>
          <!--<div class="col col-40"><i class="ion-ios-calendar"></i> {{task.due}}</div>-->
        </div>

        <br/>

        <div class="row">
          <div class="col col-30 assignee">
            <p>Assigned to:</p>
          </div>
          <div class="col col-20 assignee">
            <!--<img src="{{currentUser}}">-->
          </div>
          <div class="col col-40 col-offset-10">Priority: {{priority}}</div>
        </div>

        <div class="card description">
          <div class="row">
            <div class="col">
              <p class="font14">Description:</p>
              <textarea style="width:100%" rows="6">{{task.disc}}</textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p class="font14">Category: </p>
            <p class="font14">Card: </p>
            <button class="button button-block button-outline button-balanced" style="margin" ng-click="taskStart()">Start</button>
          </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
