<ion-view title="Task Details" hide-back-button="true" >

  <ion-nav-buttons class="button-clear" side="left">
    <button class="button-clear" ng-click="$ionicGoBack()">Close <i class="button-icon ion-ios-close-empty"></i></button>
  </ion-nav-buttons>

  <ion-content class="padding-top">
    <h3 class="upperCase">{{task.name}}</h3>
    <!--if there is an image then show it otherwise show an icon to upload a photo-->

    <!--<img src="../../img/cyberegg.jpg" style="width:102%; background-size: cover">-->

    <div ng-if= !task.image>

      <p>will allow an upload of images</p>
    </div>

    <div class="row">

      <div class="card taskDetail">

        <div class="row">
          <p class="font14">Description:</p>
        </div>

        <div class="row">
          <p>{{task.description}}</p>
        </div>

        <div class="row">
          <!--if there is a due date then show it else show nothing-->
          <div class="col col-60" ng-show="task.due == 'Invalid Date'">
            <p>No Due Date!</p>
          </div>
          <!--if there is a started say in progress else say not started-->
          <div class="col col-60" ng-show="task.due != 'Invalid Date'">
            <i class="ion-android-calendar"></i> {{task.due}}
          </div>

          <div class="col col-30">Not Started</div>
        </div>


        <div class="row">
          <div class="col col-30 assignee">
            <p>Assigned to:</p>
          </div>
          <div class="col col-20 assignee">
            <!--<img src="{{currentUser}}">-->
          </div>
          <div class="col col-40 col-offset-10">Priority: {{priority}}</div>
        </div>

        <div class="row">
          <div class="col">
            <p class="font14">Category: </p>
            <p class="font14">Card: </p>
          </div>
        </div>

        <div class="row">
          <!--if started we will have  stop button otherwise we'll have a start button-->
          <button class="button button-block button-outline button-balanced upButton col-45"  ng-click="taskStart()">Start</button> &nbsp;&nbsp;
          <button class="button button-block button-outline button-balanced upButton col-45"  ng-click="taskStart()">Comment</button>
        </div>
        <div class="row">
          <button class="button button-block button-outline button-balanced col-45"  ng-click="taskStart()">Edit</button> &nbsp;&nbsp;
          <button class="button button-block button-outline button-balanced col-45"  ng-click="taskStart()">Finish</button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
