<ion-view title="" hide-back-button="true">

  <ion-content class="padding-top">
    <!--<p>In home</p>-->

    <div class="list">
      <div class="item item-input-inset">
        <label>
          <input type="text" ng-click="updateTask()" placeholder="What are you doing?">
        </label>
      </div>
    </div>

    <!--<ion-spinner icon="crescent" ng-hide=""></ion-spinner>-->

    <a class="item item-avatar" href="#/menu/tab/home/{{update.currentStatus.user}}" ng-repeat="update in team.members | orderBy : 'time':true ">
        <div class="row">

          <div class="col-25">
            <img src="{{update.gravatar}}" class="avatarHome">
          </div>
          <div class="col-75" style="padding-top: 4%">
            <p> The user {{update.currentStatus.user}}</p>

            <h2>{{update.name}} <small style="font-size: 70%;" am-time-ago="update.time"></small></h2>
            <p>{{update.currentStatus.name}}</p>
          </div>
        </div>

      </a>

  </ion-content>

</ion-view>

<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <div class="buttons">
        <button class="button button-clear" ng-click="closeUpdateTask()"><i class="button-icon icon ion-ios-close-empty"></i>Close &nbsp;</button>
      </div>
      <h1 class="title"> Update Status</h1>
      <div class="buttons">
        <button type="submit" ng-click="addTask(status)" class="button button-clear">Post </button>
      </div>
    </ion-header-bar>

    <ion-content >
      <form ng-submit="addTask(status)" novalidate>
        <div class="list updateStatus">
          <div class="card">
            <label class="item item-input">
              <!--<button class="button button-clear" ng-click="openDropdown()"><i class="button-icon icon ion-pricetag"></i></button>-->
              <textarea type="text" rows="10" ng-model="status.name" placeholder="What are you doing?"></textarea>
            </label>
          </div>

          <div style="width: 93%; margin-left: 3%" >
            <label class="item item-input item-select">
              <div class="input-label">
                Category
              </div>

              <select ng-model="status.catKey" ng-init="status.catKey = ''">
                <option value="">unassigned</option>
                <option ng-repeat="(key, category) in team.categorySelect" value="key">{{category.name}}</option>
              </select>
            </label>
          </div>

          <div class="row">
            <button type="submit" style="margin-top: 60%" class="button button-full button-balanced">Submit</button>
          </div>

        </div>
      </form>
    </ion-content>

  </ion-modal-view>
  </script>
