<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeUpdateTask()"><i class="button-icon icon ion-ios-close-empty"></i>Close &nbsp;</button>
    </div>
    <h1 class="title"> Update Status</h1>
    <div class="buttons">
      <button type="submit" ng-click="addTask(status)" class="button button-clear">Post </button>
    </div>
  </ion-header-bar>

  <ion-content >
    <form ng-submit="addTask(status)" novalidate>
      <div class="list updateStatus">
        <div class="card">
          <label class="item item-input">
            <textarea rows="10" ng-model="status.name" placeholder="What are you doing?" autofocus></textarea>
          </label>
        </div>

        <div style="width: 93%; margin-left: 3%" >
          <label class="item item-input item-select">
            <div class="input-label">
              Category
            </div>

            <select ng-model="status.catKey" ng-init="status.catKey = ''">
              <option value="">unassigned</option>
              <option ng-repeat="(key, category) in team.categorySelect" value="key">{{category.name}}</option>
            </select>
          </label>
        </div>

        <div class="row">
          <button type="submit" style="margin-top: 60%" class="button button-full button-balanced">Submit</button>
        </div>

      </div>
    </form>
  </ion-content>

</ion-modal-view>
