<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <ion-tab title="Feed" icon-off="ion-social-rss" icon-on="ion-social-rss active" href="#/menu/tab/home">
      <ion-nav-view name="menu-tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Tasks" icon-off="ion-checkmark" icon-on="ion-checkmark active" href="#/menu/tab/tasks">
      <ion-nav-view name="menu-tab-tasks"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Projects" icon-off="ion-clipboard" icon-on="ion-clipboard active" href="#/menu/tab/projects">
      <ion-nav-view name="menu-tab-projects"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Profile" icon-off="ion-android-person" icon-on="ion-android-person active" href="#/menu/tab/profile">
      <ion-nav-view name="menu-tab-profile"></ion-nav-view>
    </ion-tab>

</ion-tabs>
