<ion-view view-title="Projects">

  <ion-header-bar align-title="center" class="bar-light profile">
    <div class="buttons">
      <button class="button button-icon" ng-click="goBack()" nav-direction="back"><i class="icon-back" style="color:rgba(29,29,38,0.5)"></i></button>
    </div>
  </ion-header-bar>

  <ion-content>
    <ion-slide-box>
      <ion-slide>
        <div class="card subProject" style="background-color: #2A2A2A; position: relative">
          <h3 style="color:white; padding-left: 5%; padding-top: 1%;">Under Construction</h3>
          <!--ng-repeat the subprojects-->

          <div class="card subProjects">
            <div class="row">
              <h2>Second Floor</h2>
            </div>

            <div class="row">
              <div class="col col-60">
                <p class="font14">Progress</p>
              </div>
              <div class="col col-40">
                <p class="font14">{{completedAmount}}/{{taskAmount}} complete</p>
              </div>
            </div>

            <div class="row">
              <div class="col col-90 progressOutline">
                <div class="progressBar" style="width:{{progressPercent}}%">&nbsp;</div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="font14">People:</p>
              </div>
            </div>

            <div class="row">
              <!--ng-repeat faces in this subproject-->


            </div>

          </div>


          <div class="card subProjects">
            <div class="row">
              <h2>Bathrooms Floor</h2>
            </div>

            <div class="row">
              <div class="col col-60">
                <p class="font14">Progress</p>
              </div>
              <div class="col col-40">
                <p class="font14">8/{{taskAmount}} complete</p>
              </div>
            </div>

            <div class="row">
              <div class="col col-90 progressOutline">
                <div class="progressBar" style="width:80%">&nbsp;</div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="font14">People:</p>
              </div>
            </div>

            <div class="row" >
              <!--ng-repeat faces in this subproject-->


            </div>

          </div>
          <div class="button button-block button-balanced" style="margin-bottom: 0; position: relative" ng-click="createCard()">Add Card</div>


        </div>
      </ion-slide>

      <ion-slide>
        <div class="card subProject" style="background-color: #2A2A2A; position: relative">
          <h3 style="color:white; padding-left: 5%; padding-top: 1%;">Under Construction</h3>
          <!--ng-repeat the subprojects-->

          <div class="card subProjects">
            <div class="row">
              <h2>Penthouse</h2>
            </div>

            <div class="row">
              <div class="col col-60">
                <p class="font14">Progress</p>
              </div>
              <div class="col col-40">
                <p class="font14">{{completedAmount}}/{{taskAmount}} complete</p>
              </div>
            </div>

            <div class="row">
              <div class="col col-90 progressOutline">
                <div class="progressBar" style="width:{{progressPercent}}%">&nbsp;</div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="font14">People:</p>
              </div>
            </div>

            <div class="row">
              <!--ng-repeat faces in this subproject-->


            </div>

          </div>


          <div class="card subProjects">
            <div class="row">
              <h2>Third Bedroom</h2>
            </div>

            <div class="row">
              <div class="col col-60">
                <p class="font14">Progress</p>
              </div>
              <div class="col col-40">
                <p class="font14">8/{{taskAmount}} complete</p>
              </div>
            </div>

            <div class="row">
              <div class="col col-90 progressOutline">
                <div class="progressBar" style="width:80%">&nbsp;</div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="font14">People:</p>
              </div>
            </div>

            <div class="row" >
              <!--ng-repeat faces in this subproject-->


            </div>

          </div>
          <div class="button button-block button-balanced" style="margin-bottom: 0; position: relative" ng-click="createCard()">Add Card</div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
